* @hashicorp/consul-selfmanage-maintainers @hashicorp/team-consul-platform

/.release/                @hashicorp/consul-selfmanage-maintainers  @hashicorp/team-selfmanaged-releng
/.github/workflows/       @hashicorp/consul-selfmanage-maintainers  @hashicorp/team-selfmanaged-releng
