dist: trusty
sudo: required
services:
- docker
language: go
go:
  - "1.11.x"

install:
# This script is used by the Travis build to install a cookie for
# go.googlesource.com so rate limits are higher when using `go get` to fetch
# packages that live there.
# See: https://github.com/golang/go/issues/12933
- bash scripts/gogetcookie.sh

env:
- CONSUL_HTTP_ADDR=http://localhost:8500
- CONSUL_HTTP_TOKEN=master-token

script:
- make test
- docker run --rm
             -d
             --name consul-test
             -v $PWD/consul_test.hcl:/consul_test.hcl:ro
             -p 8500:8500
             consul:latest consul agent -dev -config-file consul_test.hcl -client=0.0.0.0
- make testacc
- docker stop consul-test
- make vet
- make website-test

branches:
  only:
  - master
matrix:
  fast_finish: true
  allow_failures:
  - go: tip
env:
  - GOFLAGS=-mod=vendor GO111MODULE=on
