on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  test:
    env:
      GO111MODULE: on
      GOFLAGS: -mod=vendor
      CONSUL_HTTP_TOKEN: master-token
      CONSUL_HTTP_ADDR: http://localhost:8500
    strategy:
      fail-fast: false
      matrix:
        go-version: [1.14.x, 1.15.x, 1.16.x]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Install Go
      uses: actions/setup-go@37335c7bb261b353407cff977110895fa0b4f7d8
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout code
      uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f
    - name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.RO_DOCKERHUB_USER }}
        password: ${{ secrets.RO_DOCKERHUB_TOKEN }}
    - name: Run go tests
      run: make test
    - name: Run tfproviderlint
      run: docker run -v $PWD:/src docker.mirror.hashicorp.services/bflad/tfproviderlint -S006 -S022 -S023 ./...
    - name: Run test (1)
      run: |
        docker run --rm \
             -d \
             --name consul-test \
             -v $PWD/consul_test.hcl:/consul_test.hcl:ro \
             -p 8500:8500 \
             docker.mirror.hashicorp.services/consul:latest consul agent -dev -config-file consul_test.hcl -client=0.0.0.0
        make testacc TESTARGS="-count=1"
        docker stop consul-test
    - name: Run test (2)
      run: |  
        docker run --rm \
             -d \
             --name consul-test \
             -v $PWD/consul_test.hcl:/consul_test.hcl:ro \
             -p 8500:8500 \
             docker.mirror.hashicorp.services/hashicorp/consul-enterprise:latest consul agent -dev -config-file consul_test.hcl -client=0.0.0.0
        make testacc TESTARGS="-count=1"
        docker stop consul-test
    - name: Run test (3)
      run: |
        docker run --rm \
             -d \
             --name consul-test-dc2 \
             -v $PWD/consul_test_dc2.hcl:/consul_test_dc2.hcl:ro \
             --net host \
             docker.mirror.hashicorp.services/consul:latest consul agent -dev -config-file consul_test_dc2.hcl
    - name: Run test (4)
      run: |
        docker run --rm \
             -d \
             --name consul-test \
             -v $PWD/consul_test.hcl:/consul_test.hcl:ro \
             --net host \
             docker.mirror.hashicorp.services/consul:latest consul agent -dev -config-file consul_test.hcl
        TEST_REMOTE_DATACENTER=1 make testacc TESTARGS="-count=1"
        docker stop consul-test consul-test-dc2
    - name: Run test (5)
      run: | 
        docker run --rm \
             -d \
             --name consul-test-dc2 \
             -v $PWD/consul_test_dc2.hcl:/consul_test_dc2.hcl:ro \
             --net host \
             docker.mirror.hashicorp.services/hashicorp/consul-enterprise:latest consul agent -dev -config-file consul_test_dc2.hcl
    - name: Run test (6)
      run: |
        docker run --rm \
             -d \
             --name consul-test \
             -v $PWD/consul_test.hcl:/consul_test.hcl:ro \
             --net host \
             docker.mirror.hashicorp.services/hashicorp/consul-enterprise:latest consul agent -dev -config-file consul_test.hcl
        TEST_REMOTE_DATACENTER=1 make testacc TESTARGS="-count=1"
        docker stop consul-test consul-test-dc2
    - name: Run go vet
      run: make vet
      